*{ margin: 0;
	padding: 0;
	box-sizing: border-box;}

@keyframes anim{
	0%{transform: perspective(1000px) rotateY(0deg) rotateX(-10deg);}
	100%{transform: perspective(1000px) rotateY(360deg) rotateX(-10deg);}
}
@keyframes show{
	0%{transform: translateZ(-1500px);}
}
@keyframes opac{
	0%{opacity: 0;}
	99.999%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes rotZ{
	0%{transform: rotateZ(50deg);}	
}
@keyframes opac_photo{
	0%{opacity: 0;}
	90%{opacity: 0;}
	100%{opacity: 1;}
}
html{width: 100%;}
body{
	width: 100%;
	height: 150%;
	display: flex;
	flex-direction: column;}

	.backg{
		display: flex;
		width: inherit;
		height: inherit;
	}

	.backg img{
		display: flex;
		width: inherit;
		height: inherit;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		object-fit: cover;}

	.wrapper{z-index: 1;
		width: 100%;
		height: 50vh;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		position: relative;
		
		
		object-fit: cover;
		animation: rotZ 15s linear 1;}

		.ii{transform: scale3d(1, 1, 1);}

		.center{
			width: 1px;
			height: 1px;
			border-radius: 100%;
			box-shadow: 0 0 800px 400px white;
			transform-style: preserve-3d;
			transform: rotateX(90deg) translateZ(-105px);
		}

		
		.images{
			position: relative;
			margin: 0 auto;
			width: 100px;
			height: 100px;
			transform-style: preserve-3d;
			animation: anim 20s linear infinite;}

			.images span{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				transform-origin: center;
				transform-style: preserve-3d;
				transform: rotateY(calc(var(--i) * 25.71428571428571deg)) translateZ(300px);
				-webkit-box-reflect: below -5px linear-gradient( #0004, transparent, transparent);}

				.images span img{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					object-fit: cover;}

					.img1{animation: show 1s linear 1;}
					.img2{animation: show 1s linear 1 0.3s, opac 0.3s linear 1;}
					.img3{animation: show 1s linear 1 0.6s, opac 0.6s linear 1;}
					.img4{animation: show 1s linear 1 0.9s, opac 0.9s linear 1;}
					.img5{animation: show 1s linear 1 1.2s, opac 1.2s linear 1;}
					.img6{animation: show 1s linear 1 1.5s, opac 1.5s linear 1;}
					.img7{animation: show 1s linear  1.8s 1, opac 1.8s linear 1;}
					.img8{animation: show 1s linear 1 2.1s, opac 2.1s linear 1;}
					.img9{animation: show 1s linear 1 2.4s, opac 2.4s linear 1;}
					.img10{animation: show 1s linear 1 2.7s, opac 2.7s linear 1;}
					.img11{animation: show 1s linear 1 3s, opac 3s linear 1;}
					.img12{animation: show 1s linear 1 3.3s, opac 3.3s linear 1;}
					.img13{animation: show 1s linear 1 3.6s, opac 3.6s linear 1;}
					.img14{animation: show 1s linear 1 3.9s, opac 3.9s linear 1;}

	.photos{z-index: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		
		max-width: 70%;
		margin: 0 auto;
		margin-top: 100px;
		
		position: relative;
		bottom: 0;
		
		font-size: 0;
		-webkit-box-reflect: none;
		
		animation: opac_photo 23s linear 1 forwards;
		transition: bottom 1s linear;}

		.photos:hover{
			bottom: -200px;
			transition: bottom 3s linear;}

			.photos span{
				font-size: calc(25px + 10 *(100vw / 1024));
				display: none;}
		
		.photos div{
			margin: 2%;
			display: inline-block;}

			.photos img{
				width: 100%;
				height: 100%;}


					.focus1:hover{left: -5px;}
					.focus2:hover{left: -5px;}
					.focus3:hover{left: 130px;}
					.focus4:hover{left: 201px;}
					.focus5:hover{left: 232.5px;}
					.focus6:hover{left: 287.5px;}
					.focus7:hover{left: 267px;}
					.focus8:hover{left: 232.5px;}
					.focus9:hover{left: 232.5px;}
					.focus10:hover{left: 218px;}
					.focus11:hover{left: 190px;}
					.focus12:hover{left: -5px;}
					.focus13:hover{left: 17px;}
					.focus14:hover{left: -5px;}

		@media (max-width: 1280px){
			.body {
				max-width: 1280px;}

				.ii{transform: scale(1, 1);}
		}
		@media (max-width: 1024px){
			.body {
				max-width: 1024px;}

				.ii{transform: scale(0.9, 0.9);}
		}
		@media (max-width: 768px){
			.body {
				max-width: 768px;}

				.ii{transform: scale(0.8, 0.8);}
		}
		@media (max-width: 720px){
			.body {
				max-width: 720px;}

				.ii{transform: scale(0.7, 0.7);}
		}
		@media (max-width: 600px){
			.body {
				max-width: 600px;}

				.ii{transform: scale(0.6, 0.6);}
		}
		@media (max-width: 480px){
			.body {
				max-width: 480px;}

				.ii{transform: scale(0.5, 0.5);}
		}
		@media (max-width: 320px){
			.body {
				max-width: 320px;}

				.ii{transform: scale(0.35, 0.35);}
		}

		@media screen and (max-width: 1025px){
			.photos {
					max-width: 80%;
					max-height: 20%;
					position: absolute;
					top: 20%;
					left: 10%;
					overflow: visible;}

					.photos span{
						display: block;
						width: 100%;
						height: initial;
						text-align: center;
						font-weight: bold;
						border: 1px solid black;
						background: yellow;}

						.photos span:hover{opacity: 0;}

					.photos:hover{
						width: 90%;
						bottom: 0;}

					.photos div {
						object-fit: cover;
						display: none;}

					.photos:hover div{
						
						width: 30%;
						height: 100%;
						display: inline-block;}

						.focus:hover{
							position: absolute;
							width: initial;
							height: initial;
							overflow: hidden;}
		}
